/* CSS for truncating text with ellipsis */
.ellipsis-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.cardbody {
  color: white;
  background-color: #2c2727;
}